{% csrf_token %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Inicio{% endblock %}</title>
</head>
<body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <div class="barra-arriba">
        <nav>
            {% if user.is_authenticated %}
                <div class="item-top">
                    <a class="nav-link" href="{% url 'exit' %}">Cerrar sesión</a>
                </div>
            {% else %}
                <div class="item-top">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </div>
                <div class="item-top">
                    <a class="nav-link" href="{% url 'register_admin' %}">Crear Cuenta</a>
                </div>
            {% endif %}
        </nav>
    </div>
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
