{% extends 'base.html' %}

{% block title %}Registrar Admin{% endblock %}

{% block content %}
<div class="contenedor-general">
    <div class="contenedor-formulario">
        <div class="centrado">
            <form method="post" action="{% url 'register_admin' %}" class="box">
                {% csrf_token %}

                <div class="fila-form">
                    <div class="campo">
                        <label for="name" class="label">Nombres</label>
                        {{ form.first_name}}
                    </div>
                    <div class="campo">
                        <label for="name" class="label">Apellidos</label>
                        {{ form.last_name}}
                    </div>
                </div>
                
                <div class="fila-form">
                    <div class="campo">
                        <label for="username" class="label">Nombre de usuario</label>
                        {{ form.username }}
                    </div>
                    <div class="campo">
                        <label for="email" class="label">Correo</label>
                        {{ form.email }}
                    </div>
                </div>                

                <div class="fila-form">
                    <div class="campo">
                        <label for="password1" class="label">Contraseña</label>
                        {{ form.password1 }}
                    </div>
    
                    <div class="campo">
                        <label for="password2" class="label">Confirmar contraseña</label>
                        {{ form.password2 }}
                    </div>
                </div>

                <div class="campo-botones">
                    <button class="form-btn aceptar-btn" type="submit">Crear cuenta</button>
                    <button class="form-btn cancelar-btn" type="button">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}