<table class="tabla" id="duration-table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Duracion</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for ppe in epp %}
            <tr data-ppe-id="{{ ppe.idPpe }}">
                <td>{{ ppe.idPpe }}</td>
                <td>{{ ppe.name }}</td>
                <td class="editable-duration" contenteditable="true">{{ ppe.duration }}</td>
                <td>
                    <div class="botones-acciones">
                        <button class="tbl-btn save-duration-btn"><img class="icono-btn" src="../../../static/img/disquete.png" alt=""></button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hay EPPs disponibles.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
