asgiref==3.8.1
Django==5.0.6
django-extensions==3.2.3
djangorestframework==3.15.2
graphviz==0.20.3
gunicorn==22.0.0
mariadb==1.1.10
packaging==24.1
pillow==10.3.0
pydotplus==2.0.2
pyparsing==3.1.2
sqlparse==0.5.0
tzdata==2024.1
