 {% extends 'base.html' %}

{% block title %}Asignar Equipos{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario de manera tradicional

            $.ajax({
                url: $(this).attr('action'), // Usa la URL del formulario
                type: 'GET',
                data: $(this).serialize(), // Obtiene los datos del formulario
                success: function(data) {
                    $('#added-item-table-container').html($(data).find('#added-item-table-container').html()); // Actualiza solo la tabla con los resultados
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });

        // Autocomplete para trabajador y DNI
        $("#id_worker").autocomplete({
            source: "{% url 'worker_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $.ajax({
                    url: "{% url 'worker_details' %}",
                    data: { worker_name: ui.item.value },
                    success: function(data) {
                        $("#id_worker").val(data.name);
                        $("#id_workerDni").val(data.dni);
                        $("#id_workerPosition").val(data.position);
                    }
                });
            }
        });

        $("#id_workerDni").autocomplete({
            source: "{% url 'dni_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $("#id_workerDni").val(ui.item.value);
                $.ajax({
                    url: "{% url 'worker_autocomplete' %}",
                    data: { term: ui.item.value },
                    success: function(data) {
                        $("#id_worker").val(data[0]);
                    }
                });
            }
        });

        let addedItems = [];

        // Add equipment to form when "Añadir" button is clicked
        $(document).on('click', '#add-to-form', function() {
            let equipmentName = $(this).data('equipment-name');
            $('#id_equipment').val(equipmentName);
        });

        // Handle form submission
        $('#loan-form').on('submit', function(e) {
            e.preventDefault();
            const equipmentName = $('#id_equipment').val();
            const quantity = $('#id_loanAmount').val();

            // Check equipment availability
            $.ajax({
                url: '/check_equipment_availability/',  // Update this URL to match your Django URL configuration
                method: 'GET',
                data: { equipment_name: equipmentName },
                success: function(response) {
                    if (response.can_assign && response.available >= quantity) {
                        addItemToTable(equipmentName, quantity);
                        clearForm();
                    } else {
                        alert('No hay suficiente cantidad disponible de este equipo.');
                    }
                },
                error: function() {
                    alert('Error al verificar la disponibilidad del equipo.');
                }
            });
        });

        function addItemToTable(equipmentName, quantity) {
            addedItems.push({ name: equipmentName, quantity: quantity });
            updateGivenItemsTable();
        }

        function updateGivenItemsTable() {
            const tableHtml = `
                <h2 class="titulo-primario">Equipos a asignar</h2>
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${addedItems.map((item, index) => `
                            <tr>
                                <td>${item.name}</td>
                                <td>${item.quantity}</td>
                                <td><button class="quitar-btn" data-index="${index}">Quitar</button></td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>
            `;
            $('#view-given-items-table-container').html(tableHtml);
        }

        // Eliminar elementos de la lista de pre-entrega
        $(document).on('click', '.quitar-btn', function() {
            let index = $(this).data('index');
            addedItems.splice(index, 1);
            updateGivenItemsTable();
        });

        function clearForm() {
            $('#id_equipment').val('');
            $('#id_loanAmount').val('');
        }

        // Handle "Entregar" button click
        $('#give-btn').on('click', function() {
            if (addedItems.length === 0) {
                alert('No hay equipos para asignar.');
                return;
            }

            const formData = {
                workOrder: $('#id_workOrder').val(),
                loanDate: $('#id_loanDate').val(),
                returnLoanDate: $('#id_returnLoanDate').val(),
                workerDni: $('#id_workerDni').val(),
                worker: $('#id_worker').val(),
                workerPosition: $('#id_workerPosition').val(),
                equipment_loans: addedItems
            };

            $.ajax({
                url: '/confirm_equipment_loan/',  // Update this URL to match your Django URL configuration
                method: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.success) {
                        alert('Asignación de equipos completada con éxito.');
                        addedItems.length = 0;  // Clear the array
                        updateGivenItemsTable();
                        clearForm();
                    } else {
                        alert('Error al asignar equipos: ' + response.error);
                    }
                },
                error: function() {
                    alert('Error al procesar la asignación de equipos.');
                }
            });
        });
    });
</script>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'add_ppe_loan' %}">EPPs</a>
            <a class="link-form" href="{% url 'add_tool_loan' %}">Herramientas</a>
            <a class="link-form" href="{% url 'add_equipment_loan' %}">Equipos</a>
            <a class="link-form" href="{% url 'add_material_loan' %}">Materiales</a>
        </nav>
        <div class="contenedor-formulario">
            <div id="loan-message"></div>
            <div class="top-form">
                <h2 class="titulo-primario">Asignar Equipos</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'equipment_loan_list' %}">Ver tabla</a>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual" >
                    <form id="loan-form" method="post" action="{% url 'add_equipment_loan' %}" enctype="application/json" class="box">
                        {% csrf_token %}

                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_workOrder" class="label">Orden de Trabajo</label>
                                {{ form.workOrder }}
                            </div>
                            <div class="campo">
                                <label for="id_equipment" class="label">Equipo</label>
                                {{ form.equipment }}
                            </div>
                        </div>
                        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_loandate" class="label">Fecha de asignación</label>
                                {{ form.loanDate }}
                            </div>
                            <div class="campo">
                                <label for="id_loandate" class="label">Fecha de devolución</label>
                                {{ form.returnLoanDate }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="" class="label">Cantidad</label>
                                {{ form.loanAmount }}
                            </div>
                            <div class="campo">
                                <label for="id_workerDni" class="label">DNI trajador</label>
                                {{ form.workerDni }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_worker" class="label">Trabajador</label>
                                {{ form.worker }}
                            </div>
                            <div class="campo">
                                <label for="id_workerPosition" class="label">Cargo</label>
                                {{ form.workerPosition }}
                            </div>
                        </div>

                        <div class="campo-botones">
                            <button id="agregar-a-tabla-pre" class="form-btn aceptar-btn" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
                <div class="tabla-creacion" id="added-item-table-container">
                    <h2 class="titulo-primario">Equipos en base de datos</h2>
                    <div class="buscar">
                        <form id="search-form" class="formulario-buscar" method="get" action=".">
                            <div class="cuadro-busqueda">
                                <input type="text" name="q" value="{{ query }}" placeholder="Buscar...">
                            </div>
                            <div class="btn-busqueda-elemento">
                                <button type="submit" class="form-btn aceptar-btn">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in equipments %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>
                                    <button class="table-btn btn-accion" type="button" id="add-to-form" class="" data-equipment-id="{{ item.id }}" data-equipment-name="{{ item.name }}" data-equipment-quantity="1">Añadir</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No hay Equipos disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tabla-agregados">
                <button class="form-btn aceptar-btn" id="give-btn">Entregar</button>
                <button class="form-btn cancelar-btn" id="volver-btn" onclick="location.href='{% url 'home' %}'">Salir</button>
                <div id="view-given-items-table-container">

                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}