{% extends 'base.html' %}

{% block title %}Agregar EPPs{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario de manera tradicional

            $.ajax({
                url: $(this).attr('action'), // Usa la URL del formulario
                type: 'GET',
                data: $(this).serialize(), // Obtiene los datos del formulario
                success: function(data) {
                    $('#added-item-table-container').html($(data).find('#added-item-table-container').html()); // Actualiza solo la tabla con los resultados
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });

        // Autocomplete para trabajador y DNI
        $("#id_worker").autocomplete({
            source: "{% url 'worker_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $.ajax({
                    url: "{% url 'worker_details' %}",
                    data: { worker_name: ui.item.value },
                    success: function(data) {
                        $("#id_worker").val(data.name);
                        $("#id_workerDni").val(data.dni);
                        $("#id_workerPosition").val(data.position);
                    }
                });
            }
        });

        $("#id_workerDni").autocomplete({
            source: "{% url 'dni_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                $("#id_workerDni").val(ui.item.value);
                $.ajax({
                    url: "{% url 'worker_autocomplete' %}",
                    data: { term: ui.item.value },
                    success: function(data) {
                        $("#id_worker").val(data[0]);
                    }
                });
            }
        });

        // Variables y funciones para manejo de ppe_loans
        let ppe_loans = [];

        function updatePreDeliveryTable() {
            let tableHtml = '<table class="tabla"><tr><th>Nombre del EPP</th><th>Cantidad</th><th>Trabajador</th><th>Acción</th></tr>';
            ppe_loans.forEach((ppe, index) => {
                tableHtml += '<tr>';
                tableHtml += `<td>${ppe.name}</td>`;
                tableHtml += `<td>${ppe.quantity}</td>`;
                tableHtml += `<td>${ppe.worker}</td>`;
                tableHtml += `<td><button class="quitar-btn" id="remove-from-pre-delivery" data-index="${index}">Quitar</button></td>`;
                tableHtml += '</tr>';
            });
            tableHtml += '</table>';
            $('#view-given-ppe-table-container').html(tableHtml);
        }

        $(document).on('click', '#add-to-pre-delivery', function() {
            let ppeName = $(this).data('ppe-name');
            $("#id_ppe").val(ppeName);
        });

        // Lógica para enviar formulario
        $('#ppe-loan-form').submit(function(e) {
            e.preventDefault();

            var ppeName = $('#id_ppe').val();
            var workerName = $('#id_worker').val();
            var loanDate = $('#id_loanDate').val();
            var loanAmount = $('#id_loanAmount').val();

            $.ajax({
                url: '{% url "check_ppe_availability" %}',
                data: {
                    'ppe_name': ppeName,
                    'ppe_loan_amount': loanAmount
                },
                success: function(response) {
                    if (loanAmount < 1) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Cantidad no válida',
                            text: 'La cantidad debe ser mayor o igual a 1.',
                            confirmButtonText: 'Aceptar'
                        });
                    } else if (response.can_assign) {
                        let ppeData = {
                            name: ppeName,
                            quantity: loanAmount,
                            worker: $("#id_worker").val(),
                            workerPosition: $("#id_workerPosition").val(),
                            workerDni: $("#id_workerDni").val(),
                            loanDate: loanDate
                        };
                        ppe_loans.push(ppeData);
                        updatePreDeliveryTable();
                        $("#id_ppe, #id_loanAmount").val('');
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Stock insuficiente',
                            text: response.message || 'No hay suficiente cantidad de EPP disponible.',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error al verificar la disponibilidad del EPP.',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });
        });

        // Eliminar elementos de la lista de pre-entrega
        $(document).on('click', '#remove-from-pre-delivery', function() {
            let index = $(this).data('index');
            ppe_loans.splice(index, 1);
            updatePreDeliveryTable();
        });

        let ppeToAssign = [];

        // Función para construir la tabla de EPPs en el popup
        function buildPopupTable() {
            let popupTableBody = $('#popup-table tbody');
            popupTableBody.empty();

            ppe_loans.forEach(ppe => {
                let row = $('<tr>').attr('data-ppe-id', ppe.id);
                row.append($('<td>').text(ppe.name));
                row.append($('<td>').text(ppe.quantity));

                // Verificar si hay una asignación en curso para este EPP y este trabajador
                $.ajax({
                    url: '{% url "check_ppe_assignment" %}',
                    data: {
                        'ppe_name': ppe.name,
                        'worker_dni': $('#id_workerDni').val().trim()
                    },
                    async: false,  // Hacemos esto síncrono para simplificar la lógica
                    success: function(response) {
                        let isAssigned = response.is_assigned;
                        let assignedCell = $('<td>').text(isAssigned ? 'SÍ' : 'NO');
                        row.append(assignedCell);

                        let renewalCell = $('<td>');
                        if (isAssigned) {
                            let renewalCheckbox = $('<input>').attr({
                                type: 'checkbox',
                                class: 'renewal-checkbox',
                                'data-ppe-name': ppe.name
                            });
                            renewalCell.append(renewalCheckbox);
                        }
                        row.append(renewalCell);

                        let expirationDateCell = $('<td>');
                        if (isAssigned) {
                            $.ajax({
                                url: '{% url "check_ppe_duration" %}',
                                data: {
                                    'ppe_name': ppe.name,
                                    'loan_date': $('#id_loanDate').val().trim()
                                },
                                async: false,
                                success: function(durationResponse) {
                                    if (durationResponse.success) {
                                        let duration = durationResponse.duration;
                                        let loanDateObj = new Date($('#id_loanDate').val().trim());
                                        let expirationDate = new Date(loanDateObj.getTime() + duration * 24 * 60 * 60 * 1000);
                                        expirationDateCell.text(expirationDate.toISOString().split('T')[0]);
                                    }
                                }
                            });
                        }
                        row.append(expirationDateCell);

                        // Agregar un atributo data para isAssigned
                        row.attr('data-is-assigned', isAssigned);
                    },
                    error: function() {
                        alert('Error al verificar la asignación del EPP.');
                    }
                });

                popupTableBody.append(row);
            });

            $('#popup, #popup-overlay').show();
        }

        $("#give-btn").click(function() {
            if (ppe_loans.length === 0) {
                alert("No hay EPPs seleccionados para entregar.");
                return;
            }

            buildPopupTable();
        });

        $('#confirm-btn').click(function() {
            let allRenewalChecked = true;
            $('.renewal-checkbox').each(function() {
                if (!$(this).is(':checked')) {
                    allRenewalChecked = false;
                    return false;  // breaks the loop
                }
            });

            if (!allRenewalChecked) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Todos los checkboxes de renovación deben estar marcados para confirmar.'
                });
                return;
            }

            let ppeToAssign = [];
            $('#popup-table tbody tr').each(function() {
                let row = $(this);
                let ppeId = row.attr('data-ppe-id');
                let ppe = ppe_loans.find(p => p.id == ppeId);

                ppeToAssign.push({
                    name: ppe.name,
                    quantity: ppe.quantity,
                    worker: {
                        name: $('#id_worker').val().trim(),
                        position: $('#id_workerPosition').val().trim(),
                        dni: $('#id_workerDni').val().trim()
                    },
                    loanDate: $('#id_loanDate').val().trim(),
                    expirationDate: row.find('td:eq(4)').text(),
                    isRenewal: row.find('.renewal-checkbox').is(':checked'),
                    isAssigned: row.find('td:eq(2)').text() === 'SÍ'
                });
            });

            sendDataToServer(ppeToAssign);
        });


        function parseDate(dateString) {
            let parts = dateString ? dateString.split('-') : [];
            if (parts.length !== 3) return null;
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        function formatDate(date) {
            let day = String(date.getDate()).padStart(2, '0');
            let month = String(date.getMonth() + 1).padStart(2, '0');
            let year = date.getFullYear();
            return `${day}-${month}-${year}`;
        }

        function sendDataToServer(ppeToAssign) {
            // Preparar los datos para enviar al servidor
            let ppe_loans = [];
            
            $('#popup-table tbody tr').each(function() {
                let row = $(this);
                let ppeName = row.find('td:eq(0)').text();
                let quantity = row.find('td:eq(1)').text();
                let isAssigned = row.find('td:eq(2)').text() === 'SÍ';
                let isRenewal = row.find('.renewal-checkbox').is(':checked');
                
                ppe_loans.push({
                    name: ppeName,
                    quantity: quantity,
                    worker: {
                        name: $('#id_worker').val().trim(),
                        position: $('#id_workerPosition').val().trim(),
                        dni: $('#id_workerDni').val().trim()
                    },
                    loanDate: $('#id_loanDate').val().trim(),
                    isAssigned: isAssigned,
                    isRenewal: isRenewal
                });
            });

            $.ajax({
                url: '{% url "confirm_ppe_loan" %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ ppe_loans: ppe_loans }),
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'Los préstamos se han confirmado correctamente.'
                        }).then(() => {
                            $('#popup, #popup-overlay').hide();
                            
                            if (response.created_loans && response.created_loans.length > 0) {
                                updateLoanTable(response.created_loans);
                            } else {
                                window.location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.errors.map(error => error.error).join(', ')
                        });
                    }
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Se produjo un error al procesar la solicitud.'
                    });
                }
            });
        }

        $('#cancel-btn').on('click', function() {
            $('#popup, #popup-overlay').hide();
        });

        $(document).on('change', '.renewal-checkbox', function() {
            let renewalDate = $(this).closest('tr').find('.renewal-date');
            renewalDate.prop('disabled', !$(this).is(':checked'));
        });
    });
</script>
<style>
/* Estilos generales para el popup */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

/* Estilos del encabezado del popup */
#popup h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

/* Estilos de la tabla en el popup */
#popup-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#popup-table th,
#popup-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#popup-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

#popup-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#popup-table td {
    color: #555;
}

/* Estilos para los botones */
#confirm-btn,
#cancel-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#confirm-btn:hover,
#cancel-btn:hover {
    background-color: #0056b3;
}

#cancel-btn {
    background-color: #6c757d;
}

#cancel-btn:hover {
    background-color: #5a6268;
}

/* Estilos adicionales para el fondo del popup */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Oculto por defecto */
}
</style>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'add_ppe_loan' %}">EPPs</a>
            <a class="link-form" href="{% url 'add_tool_loan' %}">Herramientas</a>
            <a class="link-form" href="{% url 'add_equipment_loan' %}">Equipos</a>
            <a class="link-form" href="{% url 'add_material_loan' %}">Materiales</a>
        </nav>
        <div class="contenedor-formulario">
            <div id="loan-message"></div>
            <div class="top-form">
                {% if messages %}
                <ul class="messages" style="display: none;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2 class="titulo-primario">Asignar Equipos de Protección Personal</h2>
                <button class="form-btn ver-obj-btn" onclick="location.href='{% url 'ppe_loan_list' %}'">Ver tabla</button>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    <form id="ppe-loan-form" method="post" action="{% url 'add_ppe_loan' %}" enctype="application/json" class="box">
                        {% csrf_token %}
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_ppe" class="label">EPP</label>
                                {{ form.ppe }}
                            </div>
                            <div class="campo">
                                <label for="id_loandate" class="label">Fecha</label>
                                {{ form.loanDate }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="" class="label">Cantidad</label>
                                {{ form.loanAmount }}
                            </div>
                            <div class="campo">
                                <label for="id_workerDni" class="label">DNI trajador</label>
                                {{ form.workerDni }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_worker" class="label">Trabajador</label>
                                {{ form.worker }}
                            </div>
                            <div class="campo">
                                <label for="id_workerPosition" class="label">Cargo</label>
                                {{ form.workerPosition }}
                            </div>
                        </div>

                        <div class="campo-botones">
                            <button id="agregar-a-tabla-pre" class="form-btn aceptar-btn" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
                <div class="tabla-creacion" id="added-item-table-container">
                    <h2 class="titulo-primario">EPPs en base de datos</h2>
                    <div class="buscar">
                        <form id="search-form" class="formulario-buscar" method="get" action=".">
                            <div class="cuadro-busqueda">
                                <input type="text" name="q" value="{{ query }}" placeholder="Buscar...">
                            </div>
                            <div class="btn-busqueda-elemento">
                                <button type="submit" class="form-btn aceptar-btn">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Duración</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ppe in ppes %}
                            <tr>
                                <td>{{ ppe.name }}</td>
                                <td>{{ ppe.quantity }}</td>
                                <td>{{ ppe.duration }}</td>
                                <td>
                                    <button class="table-btn btn-accion" type="button" id="add-to-pre-delivery" data-ppe-id="{{ ppe.id }}" data-ppe-name="{{ ppe.name }}" data-ppe-quantity="1">Añadir</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No hay EPPs disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tabla-agregados">
                <button class="form-btn aceptar-btn" id="give-btn">Entregar</button>
                <button class="form-btn cancelar-btn" id="volver-btn" onclick="location.href='{% url 'home' %}'">Salir</button>
                <div id="view-given-ppe-table-container">

                </div>
            </div>
        </div>
    </section>
</section>
<div id="popup-overlay"></div>
<div id="popup">
    <h3>Confirmar entrega de EPPs</h3>
    <table id="popup-table">
        <thead>
            <tr>
                <th>Nombre del EPP</th>
                <th>Cantidad</th>
                <th>Asignado</th>
                <th>Renovación</th>
                <th>Fecha de Expiración</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de EPPs se agregarán aquí dinámicamente -->
        </tbody>
    </table>
    <button type="button" id="confirm-btn">Confirmar</button>
    <button id="cancel-btn">Cancelar</button>
</div>
{% endblock %}