{% extends 'base.html' %}

{% block title %}Agregar Equipos{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var addedEquipment = [];

        function loadAddedEquipmentTable() {
            let html = '<table><thead><tr><th>N° de Guía</th><th>Fecha</th><th>Nombre</th><th>Costo Unitario</th><th>Cantidad</th><th>Stock ideal</th></tr></thead><tbody>';
            addedEquipment.forEach(function(equipment) {
                html += `<tr>
                            <td>${equipment.guideNumber}</td>
                            <td>${equipment.creationDate}</td>
                            <td>${equipment.name}</td>
                            <td>${equipment.unitCost}</td>
                            <td>${equipment.quantity}</td>
                            <td>${equipment.stock}</td>
                         </tr>`;
            });
            html += '</tbody></table>';
            $('#added-equipment-table-container').html(html);
        }

        loadAddedEquipmentTable();
        
        function loadCreatedEquipmentTable(query = '') {
            $.ajax({
                url: "{% url 'table_created_equipment' %}",
                data: { q: query },
                success: function(data) {
                    $('#created-equipment-table-container').html(data);
                }
            });
        }

        $(document).ready(function() {
            loadCreatedEquipmentTable();

            $(document).on('submit', '#formulario-buscar', function(event) {
                event.preventDefault();
                var query = $(this).find('input[name="q"]').val();
                loadCreatedEquipmentTable(query);
            });
        });

        $(document).on('click', '#agregar-formulario', function() {
            var row = $(this).closest('tr');
            var equipmentId = row.find('td:first').text();
            
            $.ajax({
                url: "{% url 'get_equipment_data' %}",
                data: { id: equipmentId },
                success: function(data) {
                    $('#id_guideNumber').val(data.guideNumber);
                    $('#id_creationDate').val(data.creationDate);
                    $('#id_name').val(data.name);
                    $('#id_unitCost').val(data.unitCost);
                    $('#id_quantity').val(data.quantity);
                    $('#id_stock').val(data.stock);
                }
            });
        });

        $('form').submit(function(event) {
            event.preventDefault();
            var formData = {
                guideNumber: $('#id_guideNumber').val(),
                creationDate: $('#id_creationDate').val(),
                name: $('#id_name').val(),
                unitCost: parseFloat($('#id_unitCost').val()),
                quantity: parseInt($('#id_quantity').val()),
                stock: parseInt($('#id_stock').val())
            };
            addedEquipment.push(formData);
            loadAddedEquipmentTable();
        });

        $('#save-all-btn').click(function() {
            if (addedEquipment.length === 0) {
                alert('No hay Equipos para guardar.');
                return;
            }
            $.ajax({
                url: "{% url 'save_all_equipment' %}",
                method: 'POST',
                data: JSON.stringify(addedEquipment),
                contentType: 'application/json',
                success: function(response) {
                    if (response.status === 'success') {
                        alert('Equipos guardados exitosamente.');
                        addedEquipment = [];
                        loadAddedEquipmentTable();
                    } else {
                        alert('Hubo un error al guardar los Equipos: ' + response.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error al guardar Equipos:", xhr.responseText);
                    alert('Hubo un error al guardar los Equipos: ' + xhr.responseText);
                }
            });
        });
    });
</script>

<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>Nombre del almacenero</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de Epps</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contendor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'add_ppe' %}">EPPs</a>
            <a class="link-form" href="{% url 'add_tool'%}">Herramientas</a>
            <a class="link-form" href="{% url 'add_equipment'%}">Equipos</a>
            <a class="link-form" href="{% url 'add_material'%}">Materiales</a>
        </nav>
        <div class="contenedor-formulario">
            <div class="top-form">
                <h2 class="titulo-primario">Añadir Equipos </h2>
                <a class="link-top-form" href="{% url 'equipment_total_add' %}">Ver tabla</a>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    <form method="post" action="{% url 'add_equipment' %}" enctype="multipart/form-data" class="box">
                        {% csrf_token %}
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_guideNumber" class="label">N° de Guía</label>
                                {{ form.guideNumber }}
                            </div>
                            <div class="campo">
                                <label for="id_creationDate" class="label">Fecha</label>
                                {{ form.creationDate }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_name" class="label">Nombre</label>
                                {{ form.name }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_unitCost" class="label">Costo Unitario</label>
                                {{ form.unitCost }}
                            </div>
                            <div class="campo">
                                <label for="id_quantity" class="label">Cantidad</label>
                                {{ form.quantity }}
                            </div>
                        </div>

                        <div class="campo">
                            <label for="id_stock" class="label">Stock ideal</label>
                            {{ form.stock }}
                        </div>
        
                        <div class="campo-botones">
                            <button class="form-btn aceptar-btn" type="submit">Añadir</button>
                            <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'home' %}'">Cancelar</button>
                        </div>
                    </form>
                </div>
                <div class="tabla-creacion" id="added-equipment-table-container">
                    <h2 class="titulo-primario">Añadidos</h2>

                </div>
                <button id="save-all-btn">Guardar Todos</button>
            </div>
            <div class="tabla-creacion" id="created-equipment-table-container">
                
            </div>
        </div>
    </section>
</section>
{% endblock %}