{% extends 'base.html' %}

{% block title %}Agregar EPPs{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function() {
    var addedPpe = [];

    function loadAddedPpeTable() {
        let html = '<table class="added-item-table"><thead><tr><th>N° de Guía</th><th>Nombre</th><th>Costo Unitario</th><th>Cantidad</th><th>Stock ideal</th></tr></thead><tbody>';
        addedPpe.forEach(function(ppe) {
            html += `<tr>
                        <td>${ppe.guideNumber}</td>
                        <td>${ppe.name}</td>
                        <td>${ppe.unitCost}</td>
                        <td>${ppe.quantity}</td>
                        <td>${ppe.stock}</td>
                     </tr>`;
        });
        html += '</tbody></table>';
        $('#added-items-table-container').html(html);
    }

    $(document).on('click', '#agregar-formulario', function() {
        var row = $(this).closest('tr');
        var ppeId = row.find('td:first').text();
        
        $.ajax({
            url: "{% url 'get_ppe_data' %}",
            data: { id: ppeId },
            success: function(data) {
                $('#id_guideNumber').val(data.guideNumber);
                $('#id_creationDate').val(data.creationDate);
                $('#id_name').val(data.name);
                $('#id_unitCost').val(data.unitCost);
                $('#id_quantity').val(data.quantity);
                $('#id_stock').val(data.stock);
            }
        });
    });

    $('#formulario-contenedor-individual form').submit(function(event) {
        event.preventDefault();
        var guideNumber = $('#id_guideNumber').val().trim();
        var creationDate = $('#id_creationDate').val().trim();
        var name = $('#id_name').val().trim();
        var unitCost = parseFloat($('#id_unitCost').val());
        var quantity = parseInt($('#id_quantity').val());
        var stock = parseInt($('#id_stock').val());

        // Validaciones de campos
        if (!guideNumber || !name || !creationDate) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Todos los campos deben estar completos.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
        if (quantity <= 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'La cantidad debe ser mayor que 0.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
        if (unitCost <= 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'El costo unitario debe ser mayor que 0.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
        if (stock <= 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'El stock ideal debe ser mayor que 0.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
        if (guideNumber <= 0) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'El Número guia no puede ser 0.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }

        var formData = {
            guideNumber: guideNumber,
            creationDate: creationDate,
            name: name,
            unitCost: unitCost,
            quantity: quantity,
            stock: stock
        };
        addedPpe.push(formData);
        loadAddedPpeTable();
    });

    $('#save-all-btn').click(function() {
        if (addedPpe.length === 0) {
            Swal.fire({
                icon: 'warning',
                title: 'No hay EPPs para guardar',
                text: 'No se han agregado elementos para guardar.',
                confirmButtonText: 'Aceptar'
            });
            return;
        }
        $.ajax({
            url: "{% url 'save_all_ppe' %}",
            method: 'POST',
            data: JSON.stringify(addedPpe),
            contentType: 'application/json',
            success: function(response) {
                if (response.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'EPPs guardados exitosamente.',
                        confirmButtonText: 'Aceptar'
                    });
                    addedPpe = [];
                    loadAddedPpeTable();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un error al guardar los EPPs: ' + response.message,
                        confirmButtonText: 'Aceptar'
                    });
                }
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un error al guardar los EPPs: ' + xhr.responseText,
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    function handleSearch(event) {
        event.preventDefault();
        var query = $(this).find('input[name="q"]').val();
        $.ajax({
            url: window.location.pathname,
            data: { q: query },
            success: function(data) {
                var newTable = $(data).find('#created-item-table-container table');
                $('#created-item-table-container table').replaceWith(newTable);
            },
            error: function(xhr, status, error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error en la búsqueda',
                    text: 'Hubo un error al realizar la búsqueda: ' + xhr.responseText,
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    $('.formulario-buscar').submit(handleSearch);

    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{% if message.tags == "error" %}error{% else %}success{% endif %}',
                title: '{% if message.tags == "error" %}Error{% else %}Éxito{% endif %}',
                text: "{{ message }}",
                confirmButtonText: 'Aceptar'
            });
        {% endfor %}
    {% endif %}
});
</script>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'add_ppe' %}">EPPs</a>
            <a class="link-form" href="{% url 'add_tool'%}">Herramientas</a>
            <a class="link-form" href="{% url 'add_equipment'%}">Equipos</a>
            <a class="link-form" href="{% url 'add_material'%}">Materiales</a>
        </nav>
        <div class="contenedor-principal">
            <div class="top-form">
                {% if messages %}
                <ul class="messages" style="display: none;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2 class="titulo-primario">Añadir Equipos de Protección Personal</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'ppe_total_add' %}">Ver tabla</a>
            </div>
            <div class="centrado">
                <div class="form-table-div">
                    <div id="formulario-contenedor-individual" class="formulario-especial">
                        <form method="post" action="{% url 'add_ppe' %}" enctype="multipart/form-data" class="box">
                            {% csrf_token %}
                            <div class="fila-form">
                                <div class="campo">
                                    <label for="id_guideNumber" class="label">N° de Guía</label>
                                    {{ form.guideNumber }}
                                </div>
                            </div>

                            <div class="campo">
                                <label for="id_creationDate" class="label">Fecha</label>
                                {{ form.creationDate }}
                            </div>
            
                            <div class="fila-form">
                                <div class="campo">
                                    <label for="id_name" class="label">Nombre</label>
                                    {{ form.name }}
                                </div>
                            </div>
            
                            <div class="fila-form">
                                <div class="campo">
                                    <label for="id_unitCost" class="label">Costo Unitario</label>
                                    {{ form.unitCost }}
                                </div>
                                <div class="campo">
                                    <label for="id_quantity" class="label">Cantidad</label>
                                    {{ form.quantity }}
                                </div>
                            </div>
    
                            <div class="campo">
                                <label for="id_stock" class="label">Stock ideal</label>
                                {{ form.stock }}
                            </div>
            
                            <div class="campo-botones">
                                <button class="form-btn aceptar-btn" type="submit">Añadir</button>
                                <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'home' %}'">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tabla-datos">
                        <div class="top-form">
                            <h2 class="titulo-primario">Añadidos</h2>
                            <button class="form-btn aceptar-btn" id="save-all-btn">Guardar Todos</button>
                        </div>
                        <div class="tabla-agregados">
                            <div id="added-items-table-container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabla-creacion" id="created-item-table-container">
                <div class="cuadro-buscar">
                    <h2 class="titulo-primario">Creados</h2>
                    <form class="formulario-buscar" method="get" action="{% url 'add_ppe' %}">
                        <div class="cuadro-busqueda">
                            <input type="text" name="q" value="{{ query }}" placeholder="Buscar...">
                        </div>
                        <div class="btn-busqueda-elemento">
                            <button class="form-btn aceptar-btn" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>                
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Unidad</th>
                            <th>Imágen</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ppe in epp %}
                            <tr>
                                <td>{{ ppe.idPpe }}</td>
                                <td>{{ ppe.name }}</td>
                                <td>{{ ppe.unit.name }}</td>
                                <td>
                                    {% if ppe.image %}
                                        <img src="{{ ppe.image.url }}" alt="{{ ppe.name }}" style="width: 50px; height: 50px;">
                                    {% else %}
                                        No image
                                    {% endif %}
                                </td>
                                <td><button class="table-btn btn-accion" id="agregar-formulario" data-ppe-id="{{ ppe.idPpe }}">Ingresar</button></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">No hay EPPs disponibles.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
{% endblock %}