{% extends 'base.html' %}

{% block title %}Agregar Equipo{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('.link-form');
        
        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'ppe_total_add' %}">Almacen General</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'create_ppe' %}">EPP</a>
            <a class="link-form" href="{% url 'create_tool' %}">HERRAMIENTAS</a>
            <a class="link-form" href="{% url 'create_equipment' %}">EQUIPOS</a>
            <a class="link-form" href="{% url 'create_material' %}">MATERIALES</a>
        </nav>
        <div class="contenedor-principal">
            <div class="top-form">
                {% if messages %}
                <ul class="messages" style="display: none;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h2 class="titulo-primario">Creación de Equipos</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'equipment_total' %}">Ver Equipos</a>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    <form method="post" action="{% url 'create_equipment' %}" enctype="multipart/form-data" class="box">
                        {% csrf_token %}
                        <div class="campo">
                            <label for="" class="label">Nombre</label>
                            {{ form.name }}
                        </div>

                        <div class="fila-form">
                            <div class="campo">
                                <label for="" class="label">Número de serie</label>
                                {{ form.serialNumber }}
                            </div>
    
                            <div class="campo">
                                <label for="" class="label">Nivel</label>
                                {{ form.level }}
                            </div>
                        </div>
                        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_image" class="label">Imágen</label>
                                {{ form.image }}
                            </div>
                            <div class="campo">
                                <label for="id_image" class="label">Previsualización</label>
                                <img id="image-preview" src="" alt="Previsualización de la imagen" style="display: none; max-width: 200px; margin-top: 10px;" />
                            </div>
                        </div>
            
                        <div class="campo-botones">
                            <button class="form-btn aceptar-btn" type="submit">Crear</button>
                            <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'home' %}'">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </section>
</section>
{% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Swal.fire({
                    icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
                    title: "{% if message.tags == 'success' %}Éxito{% else %}Error{% endif %}",
                    text: "{{ message }}",
                    confirmButtonText: 'Aceptar'
                });
            {% endfor %}
        });
    </script>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fileInput = document.querySelector('#id_image'); // Selecciona el campo de archivo
        const previewImage = document.querySelector('#image-preview'); // Selecciona el elemento de imagen para la previsualización

        fileInput.addEventListener('change', function(event) {
            const file = event.target.files[0]; // Obtén el primer archivo seleccionado

            if (file) {
                const reader = new FileReader(); // Crea un nuevo FileReader para leer el archivo

                reader.onload = function(e) {
                    previewImage.src = e.target.result; // Actualiza la fuente de la imagen de previsualización
                    previewImage.style.display = 'block'; // Muestra la imagen de previsualización
                };

                reader.readAsDataURL(file); // Lee el archivo como una URL de datos
            } else {
                previewImage.src = ''; // Borra la fuente si no hay archivo
                previewImage.style.display = 'none'; // Oculta la imagen si no hay archivo
            }
        });
    });
</script>
{% endblock %}
