{% extends 'base.html' %}

{% block title %}Agregar Trabajador{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'ppe_total_add' %}">Almacen General</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Agregar Trabajador a la Base de Datos</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'worker_list' %}">Tabla de Trabajadores</a>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="message {{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form id="create-worker-form" method="post" action="{% url 'create_worker' %}" enctype="multipart/form-data" class="box">
                        {% csrf_token %}
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_dni" class="label">DNI:</label>
                                {{ form.dni }}
                            </div>
                            <div class="campo">
                                <label for="id_contractDate" class="label">Fecha de contrato:</label>
                                {{ form.contractDate }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_name" class="label">Nombres:</label>
                                {{ form.name }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_surname" class="label">Apellidos:</label>
                                {{ form.surname }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_position" class="label">Cargo:</label>
                                {{ form.position }}
                            </div>
                            <div class="campo">
                                <label for="id_workerStatus" class="label">Estado:</label>
                                {{ form.workerStatus }}
                            </div>
                        </div>  
                        <div class="campo-botones">
                            <button class="form-btn aceptar-btn" type="submit">Agregar Trabajador</button>
                            <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'home' %}'">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('create-worker-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario tradicional

            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Lee la respuesta como JSON
            })
            .then(data => {
                console.log('Datos recibidos del servidor:', data); // Imprime los datos recibidos

                let iconType = 'success';
                let title = 'Éxito';
                let text = data.message;

                if (data.status === 'error') {
                    iconType = 'error';
                    title = 'Error';

                    if (data.errors) {
                        const errors = JSON.parse(data.errors);
                        let errorMessages = [];

                        // Verifica si el error es específico del DNI
                        if (errors.dni) {
                            errors.dni.forEach(error => {
                                if (error.message.includes('Ya existe Worker con este Dni.')) {
                                    errorMessages.push('Ya existe un trabajador con este DNI.');
                                } else {
                                    errorMessages.push(error.message);
                                }
                            });
                        }

                        // Otros errores específicos pueden ser procesados aquí

                        text = errorMessages.join('; ');
                    }
                }

                Swal.fire({
                    icon: iconType,
                    title: title,
                    text: text,
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    if (data.status === 'success') {
                        window.location.href = form.getAttribute('data-success-url') || '/';
                    }
                });
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ocurrió un error inesperado.',
                    confirmButtonText: 'Aceptar'
                });
            });
        });
    });
</script>


{% endblock %}
