{% extends 'base.html' %}

{% block title %}Agregar Trabajador{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Agregar Trabajador a la Base de Datos</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'worker_list' %}">Tabla de Trabajadores</a>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    <form method="post" action="{% url 'create_worker' %}" enctype="multipart/form-data" class="box">
                        {% csrf_token %}
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_dni" class="label">DNI:</label>
                                {{ form.dni }}
                            </div>
                            <div class="campo">
                                <label for="id_contractDate" class="label">Fecha de contrato:</label>
                                {{ form.contractDate }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_name" class="label">Nombres:</label>
                                {{ form.name }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_surname" class="label">Apellidos:</label>
                                {{ form.surname }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_position" class="label">Cargo:</label>
                                {{ form.position }}
                            </div>
                            <div class="campo">
                                <label for="id_workerStatus" class="label">Estado:</label>
                                {{ form.workerStatus }}
                            </div>
                        </div>  
                        <div class="campo-botones">
                            <button class="form-btn aceptar-btn" type="submit">Agregar Trabajador</button>
                            <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'home' %}'">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>

{% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                let iconType = 'success'; // Asumimos éxito por defecto
                if ('{{ message.tags }}' === 'error') {
                    iconType = 'error'; // Cambia a error si el mensaje tiene la etiqueta 'error'
                }
                Swal.fire({
                    icon: iconType,
                    title: iconType === 'success' ? 'Éxito' : 'Error',
                    text: "{{ message|escapejs }}", // Escapa el mensaje para evitar problemas con caracteres especiales
                    confirmButtonText: 'Aceptar'
                });
            {% endfor %}
        });
    </script>
{% endif %}

{% endblock %}
