{% extends 'base.html' %}

{% block title %}Modificar Trabajador{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="#">Almacen General</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contendor-lateral-derecho">
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Modificación de Trabajador</h2>
            </div>
            <div class="centrado">
                <div class="formulario-contenedor-individual">
                    <form method="post" action="{% url 'modify_worker' worker.dni %}" enctype="multipart/form-data" class="box">
                        {% csrf_token %}
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_dni" class="label">DNI:</label>
                                {{ form.dni }}
                            </div>
                            <div class="campo">
                                <label for="id_contractDate" class="label">Fecha de contrato:</label>
                                {{ form.contractDate }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_name" class="label">Nombres:</label>
                                {{ form.name }}
                            </div>
                        </div>
    
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_surname" class="label">Apellidos:</label>
                                {{ form.surname }}
                            </div>
                        </div>
        
                        <div class="fila-form">
                            <div class="campo">
                                <label for="id_position" class="label">Cargo:</label>
                                {{ form.position }}
                            </div>
                            <div class="campo">
                                <label for="id_workerStatus" class="label">Estado:</label>
                                {{ form.workerStatus }}
                            </div>
                        </div> 
                    
                        <div class="campo-botones">
                            <button class="form-btn aceptar-btn" type="submit">Modificar Trabajador</button>
                            <button class="form-btn cancelar-btn" type="button" onclick="location.href='{% url 'worker_list' %}'">Cancelar</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </section>
</section>
{% if messages %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: "{{ message }}",
                    confirmButtonText: 'Aceptar'
                });
            {% endfor %}
        });
    </script>
{% endif %}
{% endblock %}