{% extends 'base.html' %}

{% block title %}Agregar Equipo{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault(); // Evita el envío del formulario de manera tradicional

            $.ajax({
                url: $(this).attr('action'), // Usa la URL del formulario
                type: 'GET',
                data: $(this).serialize(), // Obtiene los datos del formulario
                success: function(data) {
                    $('#table-container').html($(data).find('#table-container').html()); // Actualiza solo la tabla con los resultados
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error:', textStatus, errorThrown);
                }
            });
        });
    });
    //para limpiar el formulario cuando se refresque la pagina
    window.onload = function() {
        var searchInput = document.querySelector('input[name="q"]');
        if (searchInput) {
            searchInput.value = '';
        }
    };
</script>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <div class="titulo-pagina">
            <h2>Tabla de EPPs asignados</h2>
        </div>
        <div class="tabla-mostrar">
            <div class="cuadro-buscar">
                <button class="form-btn ver-obj-btn" type="button" id="volver-btn" onclick="location.href='{% url 'add_ppe_loan' %}'">Volver</button>
                <form class="formulario-buscar" id="search-form" method="get" action="{% url 'ppe_loan_list' %}">
                    <div class="cuadro-busqueda">
                        <input type="text" name="q" value="{{ query }}" placeholder="Buscar por nombre o DNI">
                    </div>
                    <div class="btn-busqueda-elemento">
                        <button type="submit" class="form-btn aceptar-btn">Buscar</button>
                    </div>
                </form>
            </div> 
        </div>  
        <div class="centrado" id="table-container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>EPP</th>
                        <th>Cantidad</th>
                        <th>Fecha de asignación</th>
                        <th>Fecha de expiración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in ppe_loans %}
                    <tr>
                        <td>{{ loan.worker.dni }}</td>
                        <td>{{ loan.worker.name }}</td>
                        <td>{{ loan.worker.surname }}</td>
                        <td>{{ loan.ppe.name }}</td>
                        <td>{{ loan.loanAmount }}</td>
                        <td>{{ loan.loanDate }}</td>
                        <td>{{ loan.expirationDate }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay EPPs asignados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</section>
{% endblock %}