{% extends 'base.html' %}

{% block title %}Total de EPPs{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Listado de EPPs</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'add_ppe' %}">Volver</a>
            </div>
            <div class="centrado">
                <div class="tabla-mostrar">
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Unidad</th>
                                <th>N° Guia</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Precio Subtotal</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ppe in ppes %}
                            <tr>
                                <td>{{ ppe.idPpe }}</td>
                                <td>{{ ppe.name }}</td>
                                <td>{{ ppe.unit }}</td>
                                <td>{{ ppe.guideNumber }}</td>
                                <td>{{ ppe.quantity }}</td>
                                <td>S/.{{ ppe.unitCost }}</td>
                                <td>S/.{{ ppe.totalCost}}</td>
                                <td>
                                    {% if ppe.image %}
                                    <div class="image-container">
                                        <img src="{{ ppe.image.url }}" alt="{{ ppe.name }}" class="img-total">
                                        <div class="preview">
                                            <img src="{{ ppe.image.url }}" alt="{{ ppe.name }}">
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="no-image">No Image</div>
                                    {% endif %}
                                </td>                            
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No se encontraron EPPs añadidos recientemente.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
