{% extends 'base.html' %}

{% block title %}Total de EPPs{% endblock %}

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('.link-form');
        
        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const filterButton = document.getElementById('filter-warning');
    const clearFilterButton = document.getElementById('clear-filter');
    const tableRows = document.querySelectorAll('tbody tr');

    filterButton.addEventListener('click', () => {
        let isFiltered = filterButton.textContent === 'Deshacer Filtro';
        
        if (isFiltered) {
            // Mostrar todas las filas
            tableRows.forEach(row => row.style.display = '');
            filterButton.textContent = 'Filtrar';
            clearFilterButton.style.display = 'none';
        } else {
            // Filtrar filas rojas
            tableRows.forEach(row => {
                if (row.classList.contains('rojo')) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
            filterButton.textContent = 'Deshacer Filtro';
            clearFilterButton.style.display = 'inline';
        }
    });

    clearFilterButton.addEventListener('click', () => {
        // Mostrar todas las filas
        tableRows.forEach(row => row.style.display = '');
        filterButton.textContent = 'Filtrar';
        clearFilterButton.style.display = 'none';
    });
});
</script>
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'ppe_total_add' %}">Almacen General</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <nav class="navegacion-link-formularios-top">
            <a class="link-form" href="{% url 'ppe_total_add' %}">EPP</a>
            <a class="link-form" href="{% url 'tool_total_add' %}">HERRAMIENTAS</a>
            <a class="link-form" href="{% url 'equipment_total_add' %}">EQUIPOS</a>
            <a class="link-form" href="{% url 'material_total_add' %}">MATERIALES</a>
        </nav>
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Listado de EPPs</h2>
                <button class="form-btn ver-obj-btn" id="filter-warning">Filtrar</button>
            </div>
            <div class="centrado">
                <div class="tabla-mostrar">
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Unidad</th>
                                <th>N° Guia</th>
                                <th>Cantidad</th>
                                <th>Stock Ideal</th>
                                <th>Precio Unitario</th>
                                <th>Precio Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in ppes %}
                            <tr class="{% if item.quantity <= item.stock %}rojo{% endif %}">
                                <td>{{ item.idPpe }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.unit }}</td>
                                <td>{{ item.guideNumber }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.stock }}</td>
                                <td>S/.{{ item.unitCost }}</td>
                                <td>S/.{{ item.totalCost}}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8">No se encontraron EPPs añadidos recientemente.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
<style>
/* Opción alternativa con fondo más llamativo */
.rojo {    
    color: #be0013; /* Texto rojo oscuro */
    border: 2px solid #f5a0a1; /* Borde rojo más intenso */
    font-weight: bold; /* Texto en negrita para mayor énfasis */
}
</style>
{% endblock %}
