{% extends 'base.html' %}

{% block title %}Agregar Equipo{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>Nombre del almacenero</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contendor-lateral-derecho">
        <div class="titulo-pagina">
            <h2>Tabla de EPPs asignados</h2>
        </div>
        <div class="tabla-creacion" id="duration-table-container">
            <table class="tabla" id="assigned-ppes">
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>EPP</th>
                        <th>Cantidad</th>
                        <th>Fecha de préstamo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in ppe_loans %}
                    <tr>
                        <td>{{ loan.worker.name }}</td>
                        <td>{{ loan.ppe.name }}</td>
                        <td>{{ loan.loanAmount }}</td>
                        <td>{{ loan.loanDate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</section>
{% endblock %}