{% extends 'base.html' %}

{% block title %}Devoluciones{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>Nombre del almacenero</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contendor-lateral-derecho">
        <div class="titulo-pagina">
            <h2>Devoluciones</h2>
        </div>
        <form method="get" action="{% url 'return' %}">
            {{ form.as_p }}
            <button type="submit">Buscar</button>
            <button type="submit" name="view_debtors" value="1">Ver lista de todos los deudores</button>
        </form>

        {% if tool_loans %}
            <form method="post" action="{% url 'return' %}">
                {% csrf_token %}
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Código de Herramienta</th>
                            <th>Nombre de Herramienta</th>
                            <th>Cantidad del Préstamo</th>
                            <th>Devolución</th>
                            <th>Responsable</th>
                            <th>Responsable</th>
                            <th>DNI Responsable</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loan in tool_loans %}
                        <tr>
                            <td>{{ loan.tool.idTool }}</td>
                            <td>{{ loan.tool.name }}</td>
                            <td>{{ loan.loanAmount }}</td>
                            <td><input type="checkbox" name="returned_{{ loan.idToolLoan }}" {% if loan.loanStatus %}checked{% endif %}></td>
                            <td>{{ loan.worker.name }}</td> <!-- Adjust to access just the name -->
                            <td>{{ loan.worker.dni }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Guardar</button>
            </form>
        {% else %}
            <p>No se encontraron préstamos de herramientas para los criterios de búsqueda proporcionados.</p>
        {% endif %}
    </section>
</section>
<style>
    /* Estilos del título de la página */
    .titulo-pagina h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    /* Estilos del formulario de búsqueda */
    form {
        margin-bottom: 20px;
    }

    form button[type="submit"] {
        padding: 10px 20px;
        background-color: #2c3e50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form button[type="submit"]:hover {
        background-color: #233445;
    }

    /* Estilos de la tabla */
    .tabla {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .tabla th, .tabla td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #dddddd;
    }

    .tabla th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .tabla tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .tabla tr:hover {
        background-color: #f1f1f1;
    }

    /* Estilos del botón de actualización */
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    button[type="submit"]:hover {
        background-color: #218838;
    }

    .no-resultados {
        text-align: center;
        margin: 20px;
        color: #666;
    }
</style>
{% endblock %}