<h2 class="titulo-primario">Añadidos</h2>
<div class="buscar">
    <form class="formulario-buscar" method="get" action=".">
        <div class="cuadro-busqueda">
            <input type="text" name="q" value="{{ query }}" placeholder="Buscar...">
        </div>
        <div class="btn-busqueda-elemento">
            <button type="submit" class="btn buscar-btn">Buscar</button>
        </div>
    </form>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Costo Unitario</th>
        </tr>
    </thead>
    <tbody>
        {% for ppe in epp %}
            <tr>
                <td>{{ ppe.idPpe }}</td>
                <td>{{ ppe.name }}</td>
                <td>{{ ppe.quantity }}</td>
                <td>{{ ppe.unitCost }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hay EPPs disponibles.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>