{% extends 'base.html' %}

{% block title %}Total de Herramientas{% endblock %}

{% block content %}
<section class="principal-general">
    <aside class="menu-lateral">
        <div class="tarjeta-presentacion">
            <div class="foto-perfil"><img src="../../static/img/perfil.png" alt=""></div>
            <div class="nombre-perfil"><span>{{ user.first_name }} {{ user.last_name }}</span></div>
        </div>
        <div class="menu-items-lateral">
            <nav class="navegacion-lateral">
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'table_user' %}">Personal Almacenero</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'create_worker' %}">Trabajadores</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'show_duration_table' %}">Duración de EPPs</a>
                </div>
                <div class="item-lateral">
                    <a class="navbar-brand" href="{% url 'ppe_total_add' %}">Almacen General</a>
                </div>
            </nav>
        </div>
    </aside>
    <section class="contenedor-lateral-derecho">
        <div class="contenedor-principal">
            <div class="top-form">
                <h2 class="titulo-primario">Listado de Herramientas</h2>
                <a class="form-btn ver-obj-btn" href="{% url 'add_tool' %}">Volver</a>                
            </div>
            <div class="centrado">
                <div class="tabla-mostrar">
                    <table class="tabla">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>N° Guia</th>
                                <th>Nivel</th>
                                <th>Cantidad</th>                             
                                <th>Precio Unitario</th>
                                <th>Precio Subtotal</th>
                                
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tool in tools %}
                            <tr>
                                <td>{{ tool.idTool }}</td>
                                <td>{{ tool.name }}</td>
                                <td>{{ tool.guideNumber }}</td>
                                <td>{{ tool.level }}</td>
                                <td>{{ tool.quantity }}</td>
                                <td>S/.{{ tool.unitCost }}</td>
                                <td>S/.{{ tool.totalCost}}</td>
                                
                                <td>
                                    {% if tool.image %}
                                    <div class="image-container">
                                        <img src="{{ tool.image.url }}" alt="{{ tool.name }}" class="img-total">
                                        <div class="preview">
                                            <img src="{{ tool.image.url }}" alt="{{ tool.name }}">
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="no-image">No hay imágen</div>
                                    {% endif %}
                                </td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No se encontraron Herramientas añadidas recientemente.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
  
{% endblock %}
